{
    "extends": [
        "@biased-ts/eslint-config/ProperTS",
        "@biased-ts/eslint-config/ProperDoc"
    ],
    "root": true,
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "rules": {
        "@typescript-eslint/prefer-readonly-parameter-types": [0],
        "@typescript-eslint/no-unsafe-argument": [0] // idk why but we have to turn this off.
    }
}