{
    "ignorePatterns": [
        "scripts/**/*.js"
    ],
    "extends": [
        "@biased-ts/eslint-config/ProperTS",
        "@biased-ts/eslint-config/ProperDoc"
    ],
    "root": true,
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "rules": {
        "@typescript-eslint/prefer-readonly-parameter-types": [0],
        "@typescript-eslint/no-unsafe-argument": [0] // i dont care, this is fucked on github's side. idk why. idk how.
    }
}